<<<<<<< HEAD
.accountPage-admin {
=======
.accountPage-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    display: flex;
    height: 100vh;
  }
  
<<<<<<< HEAD
  .accountContent-admin {
=======
  .accountContent-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
<<<<<<< HEAD
  .accountTableContainer-admin {
=======
  .accountTableContainer-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 20px 20px;
    // overflow: hidden; /* Ensure it doesn't overflow */
  }
  
<<<<<<< HEAD
  .accountHeader-admin {
=======
  .accountHeader-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will space the title and button */
    padding-top: 12px;
    padding-bottom: 5px;  
  }
  
<<<<<<< HEAD
  .accountTitle-admin {
=======
  .accountTitle-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    font-size: 32px;
    font-family: "Helvetica";
    color: #04315b;
    text-align: left;
    margin: 0; /* Ensure there is no default margin */
    font-weight: bold;
  }
<<<<<<< HEAD
  // .editAccountContainer-admin{
=======
  // .editAccountContainer-manager{
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
  //   display: flex;
  //   flex-direction: column;
  //   flex: 1;
  //   margin: 0px 20px 20px;
  //   // overflow: hidden; /* Ensure it doesn't overflow */
  // }
<<<<<<< HEAD
  .createAccountButton-admin {
=======
  .createAccountButton-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
    margin-left: auto; /* Push the button to the right */
    background-color: transparent;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 50px; /* Makes the button cylindrical */
    font-family: var(--font-helvetica-neue);
    text-transform: none !important; /* Override uppercase transformation */
    font-weight: 500; /* Optional: Adjust font weight if needed */
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1); /* Slight background change on hover */
      border-color: black !important;
    }
  
<<<<<<< HEAD
    .MuiButton-startIcon-admin {
=======
    .MuiButton-startIcon-manager {
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
      color: black; /* Makes the icon color black */
    }
  }
  