$blue: #003366;
<<<<<<< HEAD
$light-blue: #c8e6c9;
$dark-blue: #002244;
$white: #ffffff;
$text: #04315B;

.notification-manager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: $white;
    border-radius: 20px;
    color: rgba(4, 49, 91, 1);
    width: 97%;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 1%;
    
  
    .notification-date-manager {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        cursor: default;
    }
  
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        cursor: default;
    }
  
    p {
      font-size: 15px;
      font-weight: 600;
      cursor: default;
    }
  }
=======
$light-green: #c8e6c9;
$dark-blue: #002244;
$white: #ffffff;
$text: #04315B;
$grey-border: #CCCCCC; // Define a grey color for the border

.NotificationTitle-manager {
  font-size: 32px;
  font-family: "Helvetica";
  color: #04315b;
  text-align: left;
  margin: 0;
  font-weight: bold;
  padding: 20px 20px 0 20px; 
  
}
.NotificationContainer-manager{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px 20px 20px;
  background-color: $dark-blue;
  border-radius: 20px;
  padding-bottom: 2%;

  
}
.notification-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: $white;
  border-radius: 20px;
  color: $blue;
  width: 97%;
  border: 2px solid $grey-border; // Use the grey color for the border
  margin-top: 2%;
  margin-left: 1%;

  .notification-date-manager {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: default;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
  }

  p {
    font-size: 15px;
    font-weight: 600;
    cursor: default;
  }
}
>>>>>>> f9a36a0117a8cf9abefd12968133e50afbc7bfd3
