$blue: #003366;
$light-green: #c8e6c9;
$dark-blue: #002244;
$white: #ffffff;
$text: #04315B;

.NotificationTitle-manager {
  font-size: 32px;
  font-family: "Helvetica";
  color: #04315b;
  text-align: left;
  margin: 0; /* Ensure there is no default margin */
  font-weight: bold;
  padding: 20px 20px 0 20px; 
}

.notification-manager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: $white;
    border-radius: 20px;
    color: $blue;
    width: 97%;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 1%;
    
 
    
  
    .notification-date-manager {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        cursor: default;
    }
  
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        cursor: default;
    }
  
    p {
      font-size: 15px;
      font-weight: 600;
      cursor: default;
    }
  }