.dashboardPage {
  display: flex;
  height: 100vh;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.welcomeWidgetContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.widgetsContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
}

.chartsAndNotificationContainer {
  display: flex;
  flex: 1;
  padding: 20px;
  width: 100%;
}

.chartAndNotificationWrapper {
  display: flex;
  gap: 20px;
  flex: 2; /* Take 2 parts of the available space */
}

.chartWrapper {
  flex: 2; /* Take 2 parts of the chartAndNotificationWrapper */
  min-width: 300px;
  height: 400px;
}

.notificationWrapper {
  flex: 1; /* Take 1 part of the chartAndNotificationWrapper */
  min-width: 300px;
}

