@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('./assets/fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('./assets/fonts/HelveticaNeueUltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('./assets/fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('./assets/fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('./assets/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueHeavy';
    src: url('./assets/fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
@font-face {
    font-family: 'HelveticaNeueBlack';
    src: url('./assets/fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: 'MuseoModerno-Bold';
    src: url('./assets/fonts/MuseoModerno-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }