.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.backButton {
    margin-right: 20px;
    border: none; /* Remove border for the back button */
    padding: 0; /* Remove padding */
    background: transparent; /* Remove background */
}

.pageTitle {
    color: #04315b;
    font-family: var(--font-helvetica-neue);
}
